/eclipse
/build
/gradle
/bin
.settings
.gradle
.project
.classpath
MinecraftForge-License.txt
MinecraftForge-Credits.txt
LICENSE-fml.txt
gradlew
gradlew.bat
forge-1.7.10-10.13.4.1614-1.7.10-changelog.txt
CREDITS-fml.txt
build.gradle